.nav {
  background-color: #ec4c8a;
  padding: 0.3rem 1rem 0.3rem 0.2rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0 50px 100px -20px, rgba(0, 0, 0, 0.3) 0 30px 60px -30px, rgba(10, 37, 64, 0.35) 0 -2px 6px 0 inset;
}

.nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.911);
}

.icon {
  font-size: 1.5rem;
}
